*
{
	box-sizing:border-box;
}
body
{
	font-size:62.5%; 
}
.Description
{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 1.7rem;
    color:#b8df10;
}
.main-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    height:100vh;
    /* color:white; */
    text-align: center;
    background-color: black !important;
    /* background-image: url("../bckimage.jpg"); */
    /* background-size:cover; */
    color:white;
}
.table-container
{
  border-width: 10px !important;
  border-color: white !important;
  border: 10px !important;
}
.styled-table {
    border-collapse: collapse;
    margin: 2.5rem 0;
    font-family: sans-serif;
    min-width:400px;
    border-width: 10px;
    border-color: white;
    /* height: 1000px; */
    font-size:1.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem; 
    /* width:50rem; */
    background-color: transparent;
}
/* new table */
  table {
    border-collapse: collapse;
    font-size: 15px;
    font-weight: bold;
  }

  th, td {
	border: 1px solid black;
	padding: 20px;
    padding-left:50px;
    padding-right:50px;
}
thead th {
    /* width: 105%; */
  }
  
  .cell-highlight_yellow {
    background-color: gold;
    font-weight: bold;
  }
  .cell-highlight_green
  {
    background-color:green;
  }
  .cell-highlight_red
  {
    background-color:red;
  }
  table, th, td {
    border: 1px solid white;
  }